.footer {
    margin-top:10vw;
    padding-left:5vw;
    padding-right:6vw;
}

.logo {
    height:8vw;
    position: relative;
    top:50%;
    transform: translate(0,-50%);
}

.fb, .insta {
    height:3vw;
    margin-left:2vw;
    cursor: pointer;
    position: relative;
    top:50%;
    transform: translate(0,-50%);
}

.copyr {
    margin-top:4vw;
    margin-bottom:2vw;
}




@media screen and (min-width:500px) and (max-width:800px) {

    .footer {
        margin-top:45vw;
    }

    .footer p {
        font-size: 1vw !important;
    }
   
}



@media screen and (max-width:500px) {

    .footer {
        margin-top:85vw !important;
    }

    .footer p {
        font-size: 1vw !important;
    }
   
}