
.rotate {
    transform: rotate(90deg) translatey(-0.3vw);
}

.headblock {
    margin-top:10vw;
    /* height:40vw; */
    /* width:100vw; */
    padding-right:5vw;
    padding-left:10vw;
    margin-bottom:5vw;
    /* outline:1px solid red; */
}

h1 {
    font-weight: 900 !important;
}

.headblock img {
    position: relative;
    /* height:40vw; */
    width:50vw;
    /* margin-right:3vw; */
    /* outline:1px solid red; */
}

.categoryBtn {
    position: absolute;
    bottom:0vw !important;
    left:10vw;
    background:#f9982d;
    color:white;
    border-radius: 0.8rem;
    border:none;
    height:3vw;
    width:10vw;
    /* font-size: 1vw; */
    font-weight: 600;

}

.categories {
    position: relative;
    /* height:40vw; */
    /* width:100vw; */
    padding-right:10vw;
    padding-left:10vw;
    margin-bottom:5vw;
}

.categories img {
    width:20vw;
    /* margin-top:5vw; */
}

.about {
    padding-left: 5vw;
    padding-right: 5vw;
}

.dash{
    background:black;
    width: 9vw;
    height: 0.2rem;
}

h2 {
    font-size: 2.2vw;
}

.abouttxt {
    margin-top:5vw;
    font-size: 1.1vw;
    width:29vw;
}

.dash-cont {
    background:black;
    width: 7.5vw;
    height: 0.2rem;
}


.contact form {
    margin-top: 2vw;
}

.contact button {
    background:#f9982d;
    border:none;
    margin-bottom:4vw;
}

.formHeight {
    height:24vw;
}

.sent {
    height:24vw;
}

.team {
    margin-top:5vw;
    height:23vw;
    margin-bottom:8vw;
}



@media screen and (max-width:500px) {

    .headblock p {
        font-size: 2.8vw !important;
    }

    .headblock {
        height:110vw;
        margin-bottom: 5vw;
    }

    .headblock img {
        width:80vw;
        margin-bottom: 5vw;
    }

    .headblock button {
        bottom:-2vw !important;
        width:80vw;
        height:10vw;
    }

    .categories img {
        width:80vw;
    }

    .about img {
        width:90vw;
        height:60vw;
    }
    
    .form-control {
        width:92vw !important;
    }

    .abouttxt {
        width:90vw !important;
        font-size: 2vw;
    }

    .headblock p {
        font-size: 3vw;
    }
    .categories img {
        width:80vw;
    }

    h2 {
        font-size: 4vw;
        justify-content: center;
        margin:auto;
    }
    
}


