
.buttonInSearch {
    position: absolute;
    bottom:2vw;
    right:0vw;
    height:2vw;
    font-size: 0.8vw;
    border-radius: 0.9;
    width:7vw;
    padding-left:0vw;
}

.dropdown-toggle::after {
    transform: translate(1vw ,0.1vw)
}

.searchRes {
    font-size: 2vw;
    margin-left:1vw;
    transform: translate(0, -5vw);
}

.search .randomName {
    margin-left: 0vw;
    font-size: 1.5vw !important;
}

.search .randomDetails {
    margin-left: 0vw;
    font-size: 1.2vw !important;
    line-height: 1vw;
}

.search .itemName {
    margin-top: 0.5vw;
    text-align: left !important;
    font-size: 1.3vw !important;
    line-height: 1vw;
}

.searchDescr {
    margin-top: -1vw;
}








@media screen and (max-width:500px) {

    .buttonInSearch {
        position: absolute;
        bottom:0vw;
        right:1vw;
        height:4vw;
        font-size: 3vw;
        border-radius: 0.9;
        width:20vw;
        padding-left:0vw;
        padding-top:0vw;
        padding-bottom:1vw;
    }

    .search .randomName {
        margin-left: 0vw;
        font-size: 5vw !important;
    }
    
    .search .randomDetails {
        margin-left: 0vw;
        font-size: 4vw !important;
        line-height: 1vw;
    }
    
    .search .itemName {
        margin-top: 3vw;
        text-align: left !important;
        font-size: 5vw !important;
        line-height: 1vw;
    }
    
    .searchDescr {
        margin-top: -3vw;
        margin-bottom: 10vw;
        font-size: 3vw !important;
    }
    

}

