.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.flex-wrapper {
  width:100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
}

.min {
  min-height:65vh;
}
