body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

button:active,
button:focus,
input:active,
input:focus {
  outline: none;
  border: none;
}
